.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Biruk css */

.donor-p p {
  font-size: 1rem;
  font-weight: 300;
}

.socials i {
  color: #282c34;
  margin: 20px;
  font-size: 25px;
}
.socials i:hover {
  color: #5dadaa;
}
.profile-container {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-right: 10px;
}

.profile-text {
  margin: 0;
}

.about-us i {
  font-size: 70px;
  color: #5dadaa;
}

.about-us p {
  margin-top: 25px;
  font-size: 1.1rem;
}

.core-values h4 {
  color: #5dadaa;
}

.bir-button {
  background-color: #5dadaa;
  color: white;
}

.bir-button:hover {
  background-color: #1f8783;
  color: white;
}

.campaign-card a {
  color: inherit;
}
.campaign-card .card {
  border: none;
  border-radius: 1rem;
}

.campaign-card .card-title {
  font-size: 1rem;
}

.campaign-card p {
  text-align: justify;
}

.campaign-card img {
  border-radius: 1rem;
}

.campaign-card .card:hover {
  background-color: #f8f8f8;
  transition: background-color 0.3s ease-in-out;
}

.image-box {
  overflow: hidden;
}

.enlarge-image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.campaign-card .card:hover .enlarge-image {
  transform: scale(1.2);
}
