.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #91858516;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  /* background-color: #91858516; */
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  /* min-height: 250px; */
  width: 350px;
}

label {
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* button:hover {
    background-color: #0066cc;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: border-color 0.2s ease-in-out;
}
*/

input:focus {
  outline: none;
  border-color: #0077ff;
}

button {
  /* padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #088f8d;
  color: #fff;
  font-weight: bold;
  cursor: pointer; */
  transition: all 0.2s ease-in-out;
}

/* button:hover,
button:focus {
  background-color: #0066cc;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
} */

/* p {
  margin-top: 1rem;
  font-size: 0.8rem;
} */

a {
  color: #0077ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
